{% extends 'polls/base1.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

{% load crispy_forms_tags %}

{% block content %}
              <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Register <span class="blue_light"> now!</span></h2>
                  </div>
               </div>
               </div>
<form action="" method="POST" >
    {% csrf_token %}
    {{ form | crispy }}
    <br></br>

    <button type="submit" class="btn btn-primary ">Change password</button>
</form>

{% endblock %}
</head>
<body>

</body>
</html>